@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #012e40;
  /* The background-color CSS property sets the background color of an element. */
  color: #f2e3d5;
  /* The color CSS property sets the foreground color value of an element's text    */
  /* height: 85vh; */
  /* vh = The full form of VH is viewport height. It works like the percentage unit as well */
  box-sizing: border-box;
  /* The box-sizing CSS property sets how the total width and height of an element is calculated */
  /* border-box tells the browser to account for any border and padding in the values you specify for an element's width and height */
}

.header__nav {
  padding: 2% 0% 0% 5%;
  display: flex;
  gap: 80px;
}

.header__nav__link {
  text-decoration: none;
  color: #f2e3d5;
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 600;
}

.highlight-title {
  color: #3ca6a6;
}
.highlight-title:hover {
  text-decoration: underline;
}

.presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5%;
  text-align: justify;
}

.presentation__content {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentation__content__title {
  font-family: "Krona One", serif;
  font-size: 26px;
}

.presentation__content__text {
  font-family: "Montserrat", serif;
  font-size: 16px;
}

.presentation__links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.presentation__links__text {
  font-family: "Krona One", serif;
  font-size: 20px;
}

.presentation__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;

  width: 50%;
  text-align: center;
  border-radius: 8px;
  border: solid #3ca6a6;
  padding: 10px 0px;
  text-decoration: none;
  color: #f6f6f6;
  font-size: 24px;
  font-family: "Montserrat", serif;
  font-weight: 600;
}

.presentation__links__link:hover {
  background-color: #024959;
}

.footer {
  background-color: #3ca6a6;
  color: #012e40;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
}

/* 
My Pallet:
#012E40
#024959
#026773
#3CA6A6
#F2E3D5
*/
